@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* меняет подсчёт ширины блока */
:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
}

/* убирает линии обводки у браузеров */
nav, footer, header, aside {
  display: block;
}

/* делает строчные теги блочными */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 100%;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* уравнивает поведение шрифтов и элементов для разных браузеров (в том числе запрет самовольного увеличения шрифтов на айфонах) */
input, button, textarea {
  font-family: inherit;
}

/* наследование заданных шрифтов данными элементами */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6, address {
  font-size: inherit;
  font-weight: 400;
  font-style: inherit;
}

.ibg {
  background-position: 75% 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "PlayfairDisplay";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

canvas {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 767px), (max-height: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
  height: auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .page {
    top: 50px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  height: auto;
}
@media (orientation: portrait) and (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (orientation: portrait) and (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .header.active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 1;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header.active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 1;
  }
}
@media (orientation: portrait) and (max-width: 450px) {
  .header.active::before {
    width: 70%;
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .header.active::before {
    width: 70%;
  }
}

.burger {
  display: none;
}
.burger span {
  position: absolute;
  background-color: #1b1b1b;
  opacity: 0.8;
  left: 0px;
  width: 100%;
  height: 3px;
  top: 14px;
}
@media (orientation: portrait) and (max-width: 768px) {
  .burger {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 2;
    right: 15px;
    top: 10px;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.8;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .burger {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 2;
    right: 15px;
    top: 10px;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.8;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
}

.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.header__row {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.header__row::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (orientation: portrait) and (max-width: 768px) {
  .header__row::before {
    content: none;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header__row::before {
    content: none;
  }
}
@media (orientation: portrait) and (max-width: 768px) {
  .header__row {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 0;
    margin-top: 0px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header__row {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 0;
    margin-top: 0px;
  }
}
@media (orientation: portrait) and (max-width: 450px) {
  .header__row {
    width: 70%;
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .header__row {
    width: 70%;
  }
}

.menu {
  font-family: "PlayfairDisplay";
  font-size: 18px;
  font-weight: 700;
  color: #1b1b1b;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (orientation: portrait) and (max-width: 768px) {
  .menu__list {
    display: block;
    top: 20%;
    left: 10%;
    font-size: 35px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .menu__list {
    display: block;
    top: 20%;
    left: 10%;
    font-size: 35px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  .menu__list {
    font-size: 30px;
  }
}
@media (orientation: landscape) and (max-height: 600px) {
  .menu__list {
    font-size: 30px;
  }
}
.menu__item {
  position: relative;
}
@media (orientation: portrait) and (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .menu__item {
    margin-bottom: 40px;
  }
}
@media (orientation: portrait) and (max-width: 380px) {
  .menu__item {
    margin-bottom: 30px;
  }
}
@media (orientation: landscape) and (max-height: 380px) {
  .menu__item {
    margin-bottom: 30px;
  }
}
.menu__link {
  display: inline-block;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  background-color: transparent;
}
.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #1b1b1b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (orientation: portrait) and (max-width: 768px) {
  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.menu.active {
  top: 0;
}

.header__row.active {
  display: block;
}

.section {
  margin-bottom: 50px;
}
@media (max-width: 400px) {
  .section {
    margin-bottom: 30px;
  }
}

.about {
  padding-top: 40px;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: "PlayfairDisplay";
  font-weight: 700;
}
@media (max-width: 905px) {
  .main__column {
    margin: 0px 100px;
  }
}
@media (max-width: 768px) {
  .main__column {
    margin: 0px;
  }
}
.main__name {
  font-size: 38px;
  line-height: 50px;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}
@media (max-width: 1220px) {
  .main__name {
    line-height: 45px;
  }
}
@media (max-width: 1000px) {
  .main__name {
    font-size: 32px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .main__name {
    font-size: 28px;
    line-height: 33px;
    padding-left: 0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 540px) {
  .main__name span {
    display: block;
  }
}
.main__skills {
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 37px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main__skills span {
  display: block;
}
@media (max-width: 1220px) {
  .main__skills {
    font-size: 18px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .main__skills {
    font-size: 16px;
    line-height: 23px;
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: left;
  }
}
@media (max-width: 1220px) {
  .main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 905px) {
  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px -100px;
  }
}
@media (max-width: 768px) {
  .main {
    display: block;
    margin: 0;
  }
}

.img {
  width: 130%;
  height: 115px;
  position: absolute;
  top: -5px;
  left: -50px;
  z-index: -1;
}
@media (max-width: 1000px) {
  .img {
    height: 120%;
  }
}
@media (max-width: 768px) {
  .img {
    display: none;
  }
}

.name-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 30%;
          flex: 0 2 30%;
  position: relative;
}

.skills-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  font-weight: 400;
  position: relative;
}

.active-card {
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.card {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  height: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-transition: overflow 0.5s linear 0s;
  transition: overflow 0.5s linear 0s;
}
.card__img-box {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  bottom: 0;
  height: 340px;
  width: 340px;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 768px) {
  .card__img-box {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .card__img-box {
    height: 230px;
    width: 230px;
  }
}
@media (max-width: 500px) {
  .card__img-box {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
    margin: 0 auto;
  }
}
.card__img {
  display: block;
  height: 105%;
}
.card__marker {
  position: absolute;
  top: 80px;
  right: 0;
  font-size: 12px;
}
.card__marker span {
  display: block;
  position: absolute;
  top: 19px;
  left: 0;
  width: 40px;
  height: 50px;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  -webkit-animation-name: animation-marker;
          animation-name: animation-marker;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.card__marker span .marker__svg {
  width: 90%;
  height: 90%;
  -webkit-transform: rotateX(30deg) scale(-1, 1);
          transform: rotateX(30deg) scale(-1, 1);
}
@media (max-width: 500px) {
  .card__marker {
    right: 60px;
  }
}
@media (max-width: 400px) {
  .card__marker {
    right: 25px;
    top: 50px;
  }
}
@media (max-width: 768px) {
  .card {
    height: 330px;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .card {
    height: 240px;
  }
}
@media (max-width: 500px) {
  .card {
    height: auto;
    display: block;
    position: relative;
    width: 100%;
    overflow: visible;
  }
}

.content-card {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-left: 35%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
.content-card__name {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 34px;
  visibility: hidden;
}
@media (max-width: 768px) {
  .content-card__name {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .content-card__name {
    margin-bottom: 25px;
  }
}
@media (max-width: 500px) {
  .content-card__name {
    font-size: 25px;
    visibility: visible;
    opacity: 0;
  }
}
.content-card__about {
  font-size: 18px;
  line-height: 22px;
  visibility: hidden;
}
@media (max-width: 768px) {
  .content-card__about {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .content-card__about {
    font-size: 1px;
  }
}
@media (max-width: 500px) {
  .content-card__about {
    font-size: 15px;
    visibility: visible;
    opacity: 0;
  }
}
.content-card__about p {
  margin-bottom: 50px;
}
@media (max-width: 1050px) {
  .content-card__about p {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .content-card__about p {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .content-card__about p {
    margin-bottom: 15px;
  }
}
.content-card__about :last-child {
  margin: 0;
}
@media (max-width: 1050px) {
  .content-card {
    padding-left: 40%;
  }
}
@media (max-width: 850px) {
  .content-card {
    padding-left: 45%;
  }
}
@media (max-width: 768px) {
  .content-card {
    padding-left: 20%;
  }
}
@media (max-width: 600px) {
  .content-card {
    padding-left: 10%;
  }
}
@media (max-width: 500px) {
  .content-card {
    position: absolute;
    top: 0;
    right: 50%;
    padding: 0px 10px;
    height: auto;
    z-index: -1;
    -webkit-transform: translate(50%, 25%) scale(0.5);
            transform: translate(50%, 25%) scale(0.5);
  }
}

.card.active-card {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 450px;
  position: relative;
  overflow: visible;
}
@media (max-width: 768px) {
  .card.active-card {
    height: 330px;
  }
}
@media (max-width: 600px) {
  .card.active-card {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .card.active-card {
    height: auto;
    display: block;
    position: static;
  }
}

.card__img-box.active-card {
  position: absolute;
  bottom: 0;
  right: 60%;
  height: 450px;
  width: 450px;
  overflow: hidden;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (max-width: 768px) {
  .card__img-box.active-card {
    height: 100%;
    width: 100%;
    right: 10%;
  }
}
@media (max-width: 500px) {
  .card__img-box.active-card {
    position: relative;
    right: 0;
    z-index: 1;
    height: 300px;
    width: 300px;
  }
}

.content-card.active-card {
  height: auto;
}
.content-card.active-card .content-card__name {
  -webkit-transition: visibility 0.2s linear 0.3s;
  transition: visibility 0.2s linear 0.3s;
  visibility: visible;
}
@media (max-width: 768px) {
  .content-card.active-card .content-card__name {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .content-card.active-card .content-card__name {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .content-card.active-card .content-card__name {
    -webkit-transition: opacity 0.1s linear 1.3s;
    transition: opacity 0.1s linear 1.3s;
    opacity: 1;
  }
}
.content-card.active-card .content-card__about {
  -webkit-transition: visibility 0.2s linear 0.3s;
  transition: visibility 0.2s linear 0.3s;
  visibility: visible;
}
@media (max-width: 600px) {
  .content-card.active-card .content-card__about {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .content-card.active-card .content-card__about {
    -webkit-transition: opacity 0.1s linear 1.3s;
    transition: opacity 0.1s linear 1.3s;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .content-card.active-card {
    -webkit-transition: all 0s linear 0.3s;
    transition: all 0s linear 0.3s;
    padding-left: 45%;
  }
}
@media (max-width: 600px) {
  .content-card.active-card {
    padding-left: 50%;
  }
}
@media (max-width: 500px) {
  .content-card.active-card {
    padding: 0px;
    -webkit-animation-name: animation-about;
            animation-name: animation-about;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 1.3s;
            animation-duration: 1.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: static;
  }
}

@-webkit-keyframes animation-about {
  0% {
    -webkit-transform: translateY(-75%) scale(0.5);
            transform: translateY(-75%) scale(0.5);
  }
  25% {
    -webkit-transform: translateY(-25%) scale(0.5);
            transform: translateY(-25%) scale(0.5);
  }
  40% {
    -webkit-transform: translateY(-25%) scale(1, 0.5);
            transform: translateY(-25%) scale(1, 0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
  }
}

@keyframes animation-about {
  0% {
    -webkit-transform: translateY(-75%) scale(0.5);
            transform: translateY(-75%) scale(0.5);
  }
  25% {
    -webkit-transform: translateY(-25%) scale(0.5);
            transform: translateY(-25%) scale(0.5);
  }
  40% {
    -webkit-transform: translateY(-25%) scale(1, 0.5);
            transform: translateY(-25%) scale(1, 0.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
  }
}
@-webkit-keyframes animation-marker {
  0% {
    -webkit-transform: rotate3d(-5, -5, -1, -50deg);
            transform: rotate3d(-5, -5, -1, -50deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 5, 5, -30deg);
            transform: rotate3d(0, 5, 5, -30deg);
  }
}
@keyframes animation-marker {
  0% {
    -webkit-transform: rotate3d(-5, -5, -1, -50deg);
            transform: rotate3d(-5, -5, -1, -50deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 5, 5, -30deg);
            transform: rotate3d(0, 5, 5, -30deg);
  }
}
.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
}

.website {
  margin-top: 47px;
}
@media (max-width: 400px) {
  .website {
    margin-top: 35px;
  }
}
.website__photo {
  margin-bottom: 45px;
  display: block;
}
@media (max-width: 400px) {
  .website__photo {
    margin-bottom: 25px;
  }
}
.website__photo-img {
  max-width: 100%;
}
.website__link {
  display: inline-block;
  font-size: 25px;
  line-height: 22px;
  text-align: center;
  position: relative;
}
.website__link::after {
  content: "";
  position: absolute;
  width: 0;
}
.website__link:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #1b1b1b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 400px) {
  .website__link {
    font-size: 20px;
    line-height: 22px;
  }
}
.website .website__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts {
  margin-bottom: 45px;
}
.contacts__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
}
.contacts__btn {
  width: 180px;
  height: 42px;
  margin: 30px auto 0 auto;
  font-size: 18px;
  text-align: center;
  display: block;
  color: #2196f3;
  letter-spacing: 1px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 0 10px #1785df, 0 0 40px #1785df, 0 0 80px #1785df;
          box-shadow: 0 0 10px #1785df, 0 0 40px #1785df, 0 0 80px #1785df;
  border-radius: 8px;
}
.contacts__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contacts__social-list {
  margin-top: 85px;
}

.contacts-container {
  max-width: 340px;
  margin: 0 auto;
  padding: 0 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.social__link {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.box {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  left: 0;
}
.box svg {
  width: 34px;
  height: 34px;
}

.box-bw {
  position: absolute;
  bottom: 0;
  left: 0;
}
.box-bw.disactive-icon {
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.viber-bw {
  padding: 4px;
}

.viber-box {
  top: 0;
  height: 1px;
  overflow: hidden;
  padding: 4px;
}
.viber-box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #665cac;
}
.whatsapp-box {
  top: 0;
  height: 1px;
  overflow: hidden;
}
.whatsapp-box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #4ac959;
}
.instagram-box {
  top: 0;
  height: 1px;
  overflow: hidden;
}
.instagram-box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.vk-box {
  top: 0;
  height: 1px;
}
.vk-box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #2787f5;
}
.active-icon {
  height: 40px;
  overflow: hidden;
  fill: white;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.vk-box.active-icon {
  background-color: #2787f5;
}

.instagram-box.active-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.instagram-box.active-icon::before {
  content: none;
}

.whatsapp-box.active-icon {
  background-color: #4ac959;
}

.viber-box.active-icon {
  background-color: #665cac;
}