@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* меняет подсчёт ширины блока */
:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
}

/* убирает линии обводки у браузеров */
nav, footer, header, aside {
  display: block;
}

/* делает строчные теги блочными */
html, body {
  height: calc(var(--vh)*100);
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* уравнивает поведение шрифтов и элементов для разных браузеров (в том числе запрет самовольного увеличения шрифтов на айфонах) */
input, button, textarea {
  font-family: inherit;
}

/* наследование заданных шрифтов данными элементами */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6, address {
  font-size: inherit;
  font-weight: 400;
  font-style: inherit;
}

.ibg {
  background-position: 75% 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto";
  font-weight: 400;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

canvas {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

div.btnbg {
  position: fixed;
  left: 0;
  top: 0;
}

@media (max-width: 767px), (max-height: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  height: calc(var(--vh)*100);
  overflow: hidden;
}

.container {
  max-width: 1130px;
  padding: 0px 10px;
  margin: 0 auto;
  height: auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  height: auto;
}
@media (orientation: portrait) and (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (orientation: portrait) and (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header {
    height: 50px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .header.active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 1;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header.active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 1;
  }
}
@media (orientation: portrait) and (max-width: 450px) {
  .header.active::before {
    width: 70%;
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .header.active::before {
    width: 70%;
  }
}

.burger {
  display: none;
}
.burger span {
  position: absolute;
  background-color: #1b1b1b;
  opacity: 0.8;
  left: 0px;
  width: 100%;
  height: 3px;
  top: 14px;
}
@media (orientation: portrait) and (max-width: 768px) {
  .burger {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 2;
    right: 15px;
    top: 10px;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.8;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .burger {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 2;
    right: 15px;
    top: 10px;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    background-color: #1b1b1b;
    opacity: 0.8;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
}

.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.header__row {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.header__row::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (orientation: portrait) and (max-width: 768px) {
  .header__row::before {
    content: none;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header__row::before {
    content: none;
  }
}
@media (orientation: portrait) and (max-width: 768px) {
  .header__row {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 0;
    margin-top: 0px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .header__row {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 0;
    margin-top: 0px;
  }
}
@media (orientation: portrait) and (max-width: 450px) {
  .header__row {
    width: 70%;
  }
}
@media (orientation: landscape) and (max-height: 450px) {
  .header__row {
    width: 70%;
  }
}

.menu {
  font-family: "PlayfairDisplay";
  font-size: 18px;
  font-weight: 700;
  color: #1b1b1b;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (orientation: portrait) and (max-width: 768px) {
  .menu__list {
    display: block;
    top: 20%;
    left: 10%;
    font-size: 35px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .menu__list {
    display: block;
    top: 20%;
    left: 10%;
    font-size: 35px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  .menu__list {
    font-size: 30px;
  }
}
@media (orientation: landscape) and (max-height: 600px) {
  .menu__list {
    font-size: 30px;
  }
}
.menu__item {
  position: relative;
}
@media (orientation: portrait) and (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .menu__item {
    margin-bottom: 40px;
  }
}
@media (orientation: portrait) and (max-width: 380px) {
  .menu__item {
    margin-bottom: 30px;
  }
}
@media (orientation: landscape) and (max-height: 380px) {
  .menu__item {
    margin-bottom: 30px;
  }
}
.menu__link {
  display: inline-block;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  background-color: transparent;
}
.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #1b1b1b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (orientation: portrait) and (max-width: 768px) {
  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
@media (orientation: landscape) and (max-height: 768px) {
  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.menu.active {
  top: 0;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  top: 115px;
  overflow: hidden;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 767px), (max-height: 767px) {
  .main-screen {
    top: 50px;
  }
}

.container-main {
  margin: 200px auto;
  padding: 0 15px;
  max-width: 950px;
}