.header {
   position: fixed;
   width: 100%;
   z-index: 50;
   top: 0;
   left: 0;
   height: auto;
   // ПЛАШКА=========================
   @media (orientation: portrait) and (max-width: 768px) {
      &::before {
         content: "";
         position: absolute;
         top: 0px;
         right: 0px;
         width: 100%;
         height: 100%;
         z-index: 1;
         background: rgba(255, 255, 255, 0.3);
         box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
         backdrop-filter: blur(3.5px);
         -webkit-backdrop-filter: blur(3.5px);
         border: 1px solid rgba(255, 255, 255, 0.18);
         transition: all 0.3s ease 0s;
      }
      height: 50px;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      &::before {
         content: "";
         position: absolute;
         top: 0px;
         right: 0;
         width: 100%;
         height: 100%;
         z-index: 1;
         background: rgba(255, 255, 255, 0.3);
         box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
         backdrop-filter: blur(3.5px);
         -webkit-backdrop-filter: blur(3.5px);
         border: 1px solid rgba(255, 255, 255, 0.18);
         transition: all 0.3s ease 0s;
      }
      height: 50px;
   }
   // ===============================
}
.header.active {
   @media (orientation: portrait) and (max-width: 768px) {
      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         width: 40%;
         z-index: 1;
      }
   }
   @media (orientation: landscape) and (max-height: 768px) {
      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         width: 40%;
         z-index: 1;
      }
   }
   @media (orientation: portrait) and (max-width: 450px) {
      &::before {
         width: 70%;
      }
   }
   @media (orientation: landscape) and (max-height: 450px) {
      &::before {
         width: 70%;
      }
   }
}

// БУРГЕР=============================
.burger {
   display: none;
   & span {
      position: absolute;
      background-color: #1b1b1b;
      opacity: 0.8;
      left: 0px;
      width: 100%;
      height: 3px;
      top: 14px;
   }
   @media (orientation: portrait) and (max-width: 768px) {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      z-index: 2;
      right: 15px;
      top: 10px;
      &::before,
      &::after {
         content: "";
         position: absolute;
         background-color: #1b1b1b;
         opacity: 0.8;
         width: 100%;
         height: 3px;
         left: 0;
         transition: all 0.3s ease 0s;
      }
      &::before {
         top: 0px;
      }
      &::after {
         bottom: 0px;
      }
   }
   @media (orientation: landscape) and (max-height: 768px) {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      z-index: 2;
      right: 15px;
      top: 10px;
      &::before,
      &::after {
         content: "";
         position: absolute;
         background-color: #1b1b1b;
         opacity: 0.8;
         width: 100%;
         height: 3px;
         left: 0;
         transition: all 0.3s ease 0s;
      }
      &::before {
         top: 0px;
      }
      &::after {
         bottom: 0px;
      }
   }
}
.burger.active span {
   transform: scale(0);
}
.burger.active::before {
   transform: rotate(45deg);
   top: 50%;
}
.burger.active::after {
   transform: rotate(-45deg);
   top: 50%;
}
// ===============================

.header__row {
   position: relative;
   width: 100%;
   height: 60px;
   margin-top: 10px;
   // ПЛАШКА=========================
   &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(3.5px);
      -webkit-backdrop-filter: blur(3.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      @media (orientation: portrait) and (max-width: 768px) {
         content: none;
      }
      @media (orientation: landscape) and (max-height: 768px) {
         content: none;
      }
   }
   // ===============================
   @media (orientation: portrait) and (max-width: 768px) {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 40%;
      z-index: 0;
      margin-top: 0px;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 40%;
      z-index: 0;
      margin-top: 0px;
   }
   @media (orientation: portrait) and (max-width: 450px) {
      width: 70%;
   }
   @media (orientation: landscape) and (max-height: 450px) {
      width: 70%;
   }
}

.menu {
   font-family: "PlayfairDisplay";
   font-size: 18px;
   font-weight: 700;
   color: rgb(27, 27, 27);
   width: 100%;
   height: 100%;
   transition: all 0.3s ease 0s;

   &__list {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @media (orientation: portrait) and (max-width: 768px) {
         display: block;
         top: 20%;
         left: 10%;
         font-size: 35px;
      }
      @media (orientation: landscape) and (max-height: 768px) {
         display: block;
         top: 20%;
         left: 10%;
         font-size: 35px;
      }
      @media (orientation: portrait) and (max-width: 600px) {
         font-size: 30px;
      }
      @media (orientation: landscape) and (max-height: 600px) {
         font-size: 30px;
      }
   }

   &__item {
      position: relative;
      @media (orientation: portrait) and (max-width: 768px) {
         margin-bottom: 40px;
      }
      @media (orientation: landscape) and (max-height: 768px) {
         margin-bottom: 40px;
      }
      @media (orientation: portrait) and (max-width: 380px) {
         margin-bottom: 30px;
      }
      @media (orientation: landscape) and (max-height: 380px) {
         margin-bottom: 30px;
      }
   }

   &__link {
      display: inline-block;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         background-color: transparent;
         @media (orientation: portrait) and (max-width: 768px) {
               content: none;
         }
         @media (orientation: landscape) and (max-height: 768px) {
               content: none;

         }
      }
      &:hover {
         transition: all 0.3s ease 0s;
      }
      &:hover::after {
         content: "";
         position: absolute;
         bottom: -10px;
         left: 0px;
         width: 100%;
         height: 2px;
         background-color: rgb(27, 27, 27);
         transition: all 0.3s ease 0s;
         @media (orientation: portrait) and (max-width: 768px) {
               content: none;
         }
         @media (orientation: landscape) and (max-height: 768px) {
               content: none;
         }
      }
   }
   @media (orientation: portrait) and (max-width: 768px) {
      position: absolute;
      top: -100%;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(19.5px);
      -webkit-backdrop-filter: blur(19.5px);
      border: 1px solid rgba(255, 255, 255, 0.18);
   }
   @media (orientation: landscape) and (max-height: 768px) {
      position: absolute;
      top: -100%;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(19.5px);
      -webkit-backdrop-filter: blur(19.5px);
      border: 1px solid rgba(255, 255, 255, 0.18);
   }
}
.menu.active {
   top: 0;
}
.header__row.active {
   display: block;
}
.active-nav {
   animation: neon-1 0.5s ease-in-out infinite alternate;
   background-color: #2196f3;
   border-radius: 30%;
}
@keyframes neon-1 {
   from {
      box-shadow: 0 0 6px rgba(33, 150, 243, 0.92), 0 0 30px rgba(33, 150, 243, 0.34),
         0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78),
         0 0 54px rgba(191, 226, 255, 0.92);
   }
   to {
      box-shadow: 0 0 6px rgba(33, 150, 243, 0.98), 0 0 30px rgba(33, 150, 243, 0.42),
         0 0 12px rgba(191, 226, 255, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88),
         0 0 60px #fff;
   }
}
