@import "nullstyle.scss";
@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: "Roboto";
   font-weight: 400;
   padding: 0;
   margin: 0;
   overflow: hidden;
}
canvas {
   padding: 0;
   margin: 0;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 0;
}
div.btnbg {
   position: fixed;
   left: 0;
   top: 0;
}
// ДЛЯ БУРГЕРА
body.lock {
   @media (max-width: 767px), (max-height: 767px) {
      overflow: hidden;
   }
}
// =================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

// КОНТЕЙНЕР
.container {
   max-width: 1130px;
   padding: 0px 10px;
   margin: 0 auto;
}
// ==================================
// ОБОЛОЧКА ДЛЯ СОЗДАНИЯ ФУЛСКРИНА
.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   font-size: 0px;
   flex-direction: column;
}
// ==================================
// ШАПКА
@import "header.scss";
// =================================
// ФУЛЛСКРИНОВЫЙ ЭКРАН
.main-screen {
   flex: 1 0 100%;
   position: relative;
   top: 115px;
   overflow: hidden;
   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
   @media (max-width: 767px), (max-height: 767px) {
      top: 50px;
   }
}
.container-main {
   margin: 200px auto;
   padding: 0 15px;
   max-width: 950px;
}

// =================================
// ВСЕ ОСТАЛЬНЫЕ СТРАНИЦЫ КРОМЕ ФУЛЛСКРИНА
// НЕ ЗАБУДЬ ЧТО ШРИФТ ПО УМОЛЧАНИЮ 0 В PAGE

// FOOTER=============================
@import "footer.scss";
// =================================
