@import "nullstyle.scss";
@font-face {
   font-family: "PlayfairDisplay";
   src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
      url("../PlayfairDisplay-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "PlayfairDisplay";
   src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
      url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: "PlayfairDisplay";
   font-weight: 400;
   padding: 0;
   margin: 0;
}
::-webkit-scrollbar {
   width: 0px;
   background: transparent;
}
canvas {
   padding: 0;
   margin: 0;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -1;
}
// ДЛЯ БУРГЕРА
body.lock {
   @media (max-width: 767px), (max-height: 767px) {
      overflow: hidden;
   }
}
// =================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: 1s;
   z-index: 60;
   display: flex;
   justify-content: center;
   align-items: center;
   .loader {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      animation: anime-loader 2s linear infinite;
      z-index: 11;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 50%;
         height: 100%;
         background: linear-gradient(to top, transparent, rgba(33, 150, 243, 0.4));
         background-size: 100px 105px;
         background-repeat: no-repeat;
         border-top-left-radius: 100px;
         border-bottom-left-radius: 100px;
      }
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 10px;
         height: 10px;
         background-color: #2196f3;
         border-radius: 50%;
         z-index: 10;
         box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3, 0 0 40px #2196f3, 0 0 50px #2196f3,
            0 0 60px #2196f3, 0 0 70px #2196f3, 0 0 80px #2196f3, 0 0 90px #2196f3, 0 0 100px #2196f3;
      }
      span {
         position: absolute;
         top: 10px;
         left: 10px;
         right: 10px;
         bottom: 10px;
         background-color: #000;
         border-radius: 50%;
      }
   }
   &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #000;
      transition: 1s;
   }
   &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #000;
      transition: 1s;
   }
}
@keyframes anime-loader {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
.preloader.complete::before {
   left: -50%;
}
.preloader.complete::after {
   right: -50%;
}
.loader.complete {
   display: none;
}
// КОНТЕЙНЕР
.container {
   max-width: 1130px;
   padding: 0px 15px;
   margin: 0 auto;
   height: auto;
}
// ==================================
.anchor {
   position: relative;
   width: 100%;
   height: 1px;
}
// ОБОЛОЧКА ДЛЯ СОЗДАНИЯ ФУЛСКРИНА
.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 70px;
   left: 0;
   display: flex;
   font-size: 0px;
   flex-direction: column;
   @media (max-width: 768px) {
      top: 50px;
   }
   .anchor {
      top: -70px;
   }
}

// ==================================
// ШАПКА
@import "header.scss";
// =================================
// НЕ ЗАБУДЬ ЧТО ШРИФТ ПО УМОЛЧАНИЮ 0 В PAGE

.section {
   margin-bottom: 50px;
   position: relative;
   &::after{
      content: '';
      height: 2px;
      width: 45%;
      position: absolute;
      bottom: -30px;
      left: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      @media (max-width: 400px) {
      bottom: -20px;
   }
   }
   @media (max-width: 400px) {
      margin-bottom: 30px;
   }
}

.about {
   padding-top: 40px;
   &__row {
      display: flex;
      flex-direction: column;
   }

   &__column {
   }
   .anchor {
      position: absolute;
      top: 5px;
   }
}
.main {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   font-family: "PlayfairDisplay";
   font-weight: 700;

   &__column {
      @media (max-width: 905px) {
         margin: 0px 100px;
      }
      @media (max-width: 768px) {
         margin: 0px;
      }
   }

   &__name {
      font-size: 38px;
      line-height: 50px;
      text-align: left;
      color: #fff;
      padding-left: 10px;
      @media (max-width: 1220px) {
         line-height: 45px;
      }
      @media (max-width: 1000px) {
         font-size: 32px;
         line-height: 35px;
      }
      @media (max-width: 768px) {
         font-size: 28px;
         line-height: 33px;
         padding-left: 0px;
         margin-bottom: 30px;
      }
      span {
         @media (max-width: 540px) {
            display: block;
         }
      }
   }

   &__skills {
      text-align: center;
      color: #fff;
      font-size: 20px;
      line-height: 37px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      span {
         display: block;
      }
      @media (max-width: 1220px) {
         font-size: 18px;
         line-height: 32px;
      }
      @media (max-width: 768px) {
         font-size: 16px;
         line-height: 23px;
         position: static;
         transform: translateY(0);
         text-align: left;
      }
   }
   @media (max-width: 1220px) {
      justify-content: space-around;
   }
   @media (max-width: 905px) {
      justify-content: center;
      margin: 0px -100px;
   }
   @media (max-width: 768px) {
      display: block;
      margin: 0;
   }
}
.img {
   width: 130%;
   height: 115px;
   position: absolute;
   top: -5px;
   left: -50px;
   z-index: -1;
   @media (max-width: 1000px) {
      height: 120%;
   }
   @media (max-width: 768px) {
      display: none;
   }
}
.name-box {
   flex: 0 2 30%;
   position: relative;
}
.skills-box {
   flex: 0 1 20%;
   font-weight: 400;
   position: relative;
}
// PHOTO AND ABOUT=============================
.active-card {
   transition: all 0.4s linear 0s;
}
.card {
   align-self: center;
   width: 50%;
   height: 450px;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   transition: overflow 0.5s linear 0s;
   cursor: pointer;
   &__img-box {
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: 0;
      height: 340px;
      width: 340px;
      overflow: hidden;
      z-index: 1;
      @media (max-width: 768px) {
         height: 300px;
         width: 300px;
      }
      @media (max-width: 600px) {
         position: relative;
         top: 0;
         left: 0;
         transform: translateX(0);
         margin: 0 auto;
         height: 220px;
         width: 220px;
      }
      @media (max-width: 400px) {
         position: relative;
         top: 0;
         left: 0;
         transform: translateX(0);
         margin: 0 auto;
         height: 200px;
         width: 200px;
      }
   }
   &__img {
      display: block;
      height: 100%;
   }
   &__marker {
      position: absolute;
      top: 80px;
      right: 0;
      font-size: 12px;
      span {
         display: block;
         position: absolute;
         top: 19px;
         left: 0;
         width: 40px;
         height: 50px;
         animation-name: animation-marker;
         animation-timing-function: ease-in-out;
         animation-duration: 2.3s;
         animation-iteration-count: infinite;
         animation-direction: alternate-reverse;
         transform-origin: top left;

         .marker__svg {
            width: 90%;
            height: 90%;
            transform: translate(20%, -10%) rotateX(30deg) scale(-1, 1);
         }
      }
      @media (max-width: 500px) {
         right: 52px;
         top: 60px;
      }
      @media (max-width: 400px) {
         right: 10px;
         top: 60px;
      }
   }
   @media (max-width: 768px) {
      height: 330px;
      margin-top: 20px;
   }

   @media (max-width: 600px) {
      height: auto;
      display: block;
      position: relative;
      width: 100%;
      overflow: visible;
      margin: 0;
   }
}
.content-card {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   padding-left: 35%;
   background: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(3.5px);
   -webkit-backdrop-filter: blur(3.5px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
   text-align: center;
   &__name {
      font-size: 34px;
      line-height: 42px;
      margin-bottom: 34px;
      visibility: hidden;
      @media (max-width: 768px) {
         font-size: 16px;
         line-height: 20px;
      }
      @media (max-width: 600px) {
         font-size: 25px;
         visibility: visible;
         opacity: 0;
         margin-bottom: 25px;
      }
   }

   &__about {
      font-size: 10px;
      line-height: 22px;
      visibility: hidden;
      @media (max-width: 768px) {
         font-size: 10px;
         line-height: 20px;
      }
      @media (max-width: 600px) {
         font-size: 15px;
         visibility: visible;
         opacity: 0;
      }
      p {
         margin-bottom: 30px;
         @media (max-width: 768px) {
            margin-bottom: 25px;
         }
         @media (max-width: 600px) {
            margin-bottom: 15px;
         }
      }
      :last-child {
         margin: 5px;
      }
   }
   @media (max-width: 1050px) {
      padding-left: 40%;
   }
   @media (max-width: 850px) {
      padding-left: 45%;
   }
   @media (max-width: 768px) {
      padding-left: 20%;
   }
   @media (max-width: 600px) {
      position: absolute;
      top: 0;
      right: 50%;
      padding: 0px 10px;
      height: auto;
      z-index: -1;
      transform: translate(50%, 25%) scale(0.5);
   }
}

.card.active-card {
   align-self: center;
   width: 100%;
   height: 450px;
   position: relative;
   overflow: visible;
   @media (max-width: 768px) {
      height: 330px;
   }
   @media (max-width: 600px) {
      height: auto;
      display: block;
      position: static;
   }
}
.card__img-box.active-card {
   position: absolute;
   bottom: 0;
   right: 60%;
   height: 450px;
   width: 450px;
   overflow: hidden;
   transform: translateX(0);
   @media (max-width: 768px) {
      height: 100%;
      width: 100%;
      right: 10%;
   }
   @media (max-width: 600px) {
      position: relative;
      right: 0;
      z-index: 1;
      height: 300px;
      width: 300px;
   }
}
.content-card.active-card {
   height: auto;
   .content-card__name {
      transition: visibility 0.2s linear 0.3s;
      visibility: visible;
      @media (max-width: 768px) {
         font-size: 28px;
      }
      @media (max-width: 768px) {
         font-size: 25px;
      }
      @media (max-width: 600px) {
         transition: opacity 0.1s linear 1.3s;
         opacity: 1;
      }
   }
   .content-card__about {
      font-size: 16px;
      transition: visibility 0.2s linear 0.3s;
      visibility: visible;
      @media (max-width: 600px) {
         transition: opacity 0.1s linear 1.3s;
         opacity: 1;
         font-size: 15px;
      }
   }

   @media (max-width: 768px) {
      transition: all 0s linear 0.3s;
      padding-left: 38%;
   }
   @media (max-width: 600px) {
      padding: 0px;
      animation-name: animation-about;
      animation-timing-function: linear;
      animation-duration: 1.3s;
      animation-fill-mode: forwards;
      position: static;
   }
}

@keyframes animation-about {
   0% {
      transform: translateY(-75%) scale(0.5);
   }
   25% {
      transform: translateY(-25%) scale(0.5);
   }
   40% {
      transform: translateY(-25%) scale(1, 0.5);
   }
   100% {
      transform: translateY(0) scale(1, 1);
   }
}
@keyframes animation-marker {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(30deg);
   }
}
// Portfolio===============================
.portfolio {
   position: relative;
   &__row {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__column {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .anchor {
      top: 500px;
      position: absolute;
      @media (orientation: portrait) and (max-width: 768px) {
         top: 30px;
      }
      @media (orientation: landscape) and (max-height: 768px) {
         top: 30px;
      }
      @media (orientation: portrait) and (max-width: 650px) {
         top: 300px;
      }
      @media (orientation: landscape) and (max-height: 650px) {
         top: 300px;
      }
      @media (orientation: portrait) and (max-width: 400px) {
         top: 530px;
      }
      @media (orientation: landscape) and (max-height: 400px) {
         top: 530px;
      }
      
   }

}
.title {
   font-size: 34px;
   line-height: 42px;
   font-weight: 700;
   text-align: center;
}
.website {
   margin-top: 47px;
   @media (max-width: 400px) {
      margin-top: 35px;
   }
   &__photo {
      margin-bottom: 45px;
      display: block;
      @media (max-width: 400px) {
         margin-bottom: 25px;
      }
   }

   &__photo-img {
      max-width: 100%;
   }
   &__box-link {
   }
   &__link {
      display: inline-block;
      font-size: 25px;
      line-height: 22px;
      text-align: center;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         width: 0;
      }
      &:hover::after {
         content: "";
         position: absolute;
         bottom: -10px;
         left: 0px;
         width: 100%;
         height: 2px;
         background-color: rgb(27, 27, 27);
         transition: all 0.3s ease 0s;
      }
      @media (max-width: 400px) {
         font-size: 20px;
         line-height: 22px;
      }
   }
   .website__link:hover {
      transform: scale(1.1);
      transition: all 0.3s ease 0s;
   }
}

// Contacts===========================
.contacts {
   margin-bottom: 45px;
   &__subtitle {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-top: 20px;
   }

   &__btn {
      width: 180px;
      height: 42px;
      margin: 30px auto 0 auto;
      font-size: 18px;
      text-align: center;
      display: block;
      color: #2196f3;
      letter-spacing: 1px;
      overflow: hidden;
      transition: 0.2s;
      color: #fff;
      background-color: #2196f3;
      box-shadow: 0 0 10px #1785df, 0 0 40px #1785df, 0 0 80px #1785df;
      border-radius: 8px;
      &:hover {
         transform: scale(1.1);
         transition: all 0.3s ease 0s;
      }
   }

   &__social-list {
      margin-top: 85px;
   }
   .anchor {
      top: -500px;
      @media (orientation: portrait) and (max-width: 650px) {
         top: 0px;
      }
      @media (orientation: landscape) and (max-height: 650px) {
         top: 0px;
      }
      @media (orientation: portrait) and (max-width: 600px) {
         top: -70px;
      }
      @media (orientation: landscape) and (max-height: 600px) {
         top: -70px;
      }
      
   }
}
.contacts-container {
   max-width: 340px;
   margin: 0 auto;
   padding: 0 10px;
}
// Form==========================================
.form-inner {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   display: none;
   z-index: 3;
}
.form-inner.open {
   background-color: rgba(0, 0, 0, 0.6);
   display: block;
}
.form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   font-size: 18px;
   padding: 10px;
   background: rgba(255, 255, 255, 0.5);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(18px);
   -webkit-backdrop-filter: blur(18px);
   border-radius: 10px;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: 0.4s all linear 0s;
   &__body {
      position: relative;
      .loader-box {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         background: rgba(0, 0, 0, 0.6);
         border-radius: 10px;
         z-index: 2;
         opacity: 0;
         visibility: hidden;
         transform: scale(1.1);
         .loaderform {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            animation: anime-loader 2s linear infinite;
            &::before {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 50%;
               height: 100%;
               background: linear-gradient(to top, transparent, rgba(33, 150, 243, 0.4));
               background-size: 100px 30px;
               background-repeat: no-repeat;
               border-top-left-radius: 100px;
               border-bottom-left-radius: 100px;
            }
            &::after {
               content: "";
               position: absolute;
               top: 0;
               left: 50%;
               transform: translateX(-50%);
               width: 10px;
               height: 10px;
               background-color: #2196f3;
               border-radius: 50%;
               z-index: 10;
               box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
            }
            span {
               position: absolute;
               top: 10px;
               left: 10px;
               right: 10px;
               bottom: 10px;
               background-color: rgba(0, 0, 0, 0.6);
               border-radius: 50%;
            }
         }
      }
   }

   &__title {
      margin-bottom: 20px;
   }

   &__item {
      position: relative;
   }

   &__label {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 15px;
      z-index: 1;
      transition: 0.3s;
   }

   &__input {
      padding: 0 20px;
      height: 40px;
      margin-bottom: 10px;
      background-color: transparent;
      border-bottom: 1px solid #000;
      width: 100%;
   }

   &__button {
      background-color: transparent;
      text-transform: uppercase;
      border: 1px solid #000;
      border-radius: 20px;
      height: 30px;
      width: 130px;
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
   }
   textarea {
      resize: none;
      height: 100px;
      padding: 10px 10px;
      font-size: 15px;
      margin-top: 5px;
      @media (orientation: landscape) and (max-height: 468px) {
         height: 50px;
      }
   }
   @media (orientation: landscape) and (max-height: 468px) {
      transform: translate(-50%, -40%);
      width: 70%;
   }
   @media (orientation: portrait) and (max-width: 408px) {
      width: 70%;
   }
}
.form.open {
   opacity: 1;
   visibility: visible;
}
.form__input:focus {
   box-shadow: 0 4px 4px -2px #000;
}

.form__input:focus ~ .form__label {
   top: -11px;
   left: 0;
   font-size: 13px;
}
.form__input:not(:placeholder-shown) ~ .form__label {
   top: -11px;
   left: 0;
   font-size: 13px;
}
.form__input._error {
   border-bottom: 1px solid red;
   border-left: 1px solid red;
   border-right: 1px solid red;
}
.sending{
   opacity: 1;
   visibility: visible;
}
// ===============================================
.social {
   display: flex;
   justify-content: space-around;
   align-self: center;
   &__item {
   }

   &__link {
      display: block;
      position: relative;
      overflow: hidden;
      width: 40px;
      height: 40px;
   }
}
.box {
   width: 40px;
   height: 40px;
   padding: 3px;
   border-radius: 3px;
   position: absolute;
   left: 0;

   svg {
      width: 34px;
      height: 34px;
   }
}
.box-bw {
   position: absolute;
   bottom: 0;
   left: 0;
   @media (orientation: portrait) and (max-width: 768px) {
      opacity: 0;
      visibility: hidden;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      opacity: 0;
      visibility: hidden;
   }
}
.box-bw.disactive-icon {
   bottom: 0;
   left: 0;
   transition: all 0.5s ease-in-out;
   z-index: -1;
}

.viber-bw {
   padding: 4px;
}
.viber-box {
   top: 0;
   height: 1px;
   overflow: hidden;
   padding: 4px;
   &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #665cac;
   }
   @media (orientation: portrait) and (max-width: 768px) {
      height: 40px;
      overflow: hidden;
      fill: white;
      background-color: #665cac;
      &::before {
         content: none;
      }
   }
   @media (orientation: landscape) and (max-height: 768px) {
      height: 40px;
      overflow: hidden;
      fill: white;
      background-color: #665cac;
      &::before {
         content: none;
      }
   }
}

.whatsapp-box {
   top: 0;
   height: 1px;
   overflow: hidden;
   &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #4ac959;
   }
   @media (orientation: portrait) and (max-width: 768px) {
      height: 40px;
      overflow: hidden;
      fill: white;
      background-color: #4ac959;
      &::before {
         content: none;
      }
   }
   @media (orientation: landscape) and (max-height: 768px) {
      height: 40px;
      overflow: hidden;
      fill: white;
      background-color: #4ac959;
      &::before {
         content: none;
      }
   }
}

.instagram-box {
   top: 0;
   height: 1px;
   overflow: hidden;
   &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
   }
   @media (orientation: portrait) and (max-width: 768px) {
      &::before {
         content: none;
      }
      height: 40px;
      overflow: hidden;
      fill: white;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
   }
   @media (orientation: landscape) and (max-height: 768px) {
      &::before {
         content: none;
      }
      height: 40px;
      overflow: hidden;
      fill: white;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
   }
}

.vk-box {
   top: 0;
   height: 1px;
   &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #2787f5;
   }
   @media (orientation: portrait) and (max-width: 768px) {
      height: 40px;
      overflow: hidden;
      fill: white;
      background-color: #2787f5;
      &::before {
         content: none;
      }
   }
   @media (orientation: landscape) and (max-height: 768px) {
      height: 40px;
      overflow: hidden;
      fill: white;
      background-color: #2787f5;
      &::before {
         content: none;
      }
   }
}
.active-icon {
   height: 40px;
   overflow: hidden;
   fill: white;
   position: relative;
   transition: all 0.5s ease-in-out;
   @media (orientation: portrait) and (max-width: 768px) {
      z-index: -1;
      transition: none;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      z-index: -1;
      transition: none;
   }
}
.vk-box.active-icon {
   background-color: #2787f5;
}

.instagram-box.active-icon {
   &::before {
      content: none;
   }
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.whatsapp-box.active-icon {
   background-color: #4ac959;
}
.viber-box.active-icon {
   background-color: #665cac;
}
// FOOTER=============================
@import "footer.scss";
// =================================
