@import "nullstyle.scss";
@font-face {
   font-family: "PlayfairDisplay";
   src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
      url("../PlayfairDisplay-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "PlayfairDisplay";
   src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
      url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: "PlayfairDisplay";
   font-weight: 400;
   padding: 0;
   margin: 0;
}
canvas {
   padding: 0;
   margin: 0;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
}
// ДЛЯ БУРГЕРА
body.lock {
   @media (max-width: 767px), (max-height: 767px) {
      overflow: hidden;
   }
}
// =================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

// КОНТЕЙНЕР
.container {
   max-width: 1130px;
   padding: 0px 15px;
   margin: 0 auto;
   height: auto;
}
// ==================================
// ОБОЛОЧКА ДЛЯ СОЗДАНИЯ ФУЛСКРИНА
.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 70px;
   left: 0;
   display: flex;
   font-size: 0px;
   flex-direction: column;
   @media (max-width: 768px) {
      top: 50px;
   }
}

// ==================================
// ШАПКА
@import "header.scss";
// =================================
// НЕ ЗАБУДЬ ЧТО ШРИФТ ПО УМОЛЧАНИЮ 0 В PAGE

.about {
   margin-bottom: 50px;
   padding-top: 40px;
   &__row {
      display: flex;
      flex-direction: column;
   }

   &__column {
   }
}
.main {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   font-family: "PlayfairDisplay";
   font-weight: 700;

   &__column {
      @media (max-width: 905px) {
         margin: 0px 100px;
      }
      @media (max-width: 768px) {
         margin: 0px;
      }
   }

   &__name {
      font-size: 38px;
      line-height: 50px;
      text-align: left;
      color: #fff;
      padding-left: 10px;
      @media (max-width: 1220px) {
         line-height: 45px;
      }
      @media (max-width: 1000px) {
         font-size: 32px;
         line-height: 35px;
      }
      @media (max-width: 768px) {
         font-size: 28px;
         line-height: 33px;
         padding-left: 0px;
         margin-bottom: 30px;
      }
      span{
         @media (max-width: 540px) {
         display: block;
      }
      }
   }

   &__skills {
      text-align: center;
      color: #fff;
      font-size: 20px;
      line-height: 37px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      span {
         display: block;
      }
      @media (max-width: 1220px) {
         font-size: 18px;
         line-height: 32px;
      }
      @media (max-width: 768px) {
         font-size: 16px;
         line-height: 23px;
         position: static;
         transform: translateY(0);
         text-align: left;
      }
   }
   @media (max-width: 1220px) {
      justify-content: space-around;
   }
   @media (max-width: 905px) {
      justify-content: center;
      margin: 0px -100px;
   }
   @media (max-width: 768px) {
      display: block;
      margin: 0;
   }
}
.img {
   width: 130%;
   height: 115px;
   position: absolute;
   top: -5px;
   left: -50px;
   z-index: -1;
   @media (max-width: 1000px) {
      height: 120%;
   }
   @media (max-width: 768px) {
      display: none;
   }
}
.name-box {
   flex: 0 2 30%;
   position: relative;
}
.skills-box {
   flex: 0 1 20%;
   font-weight: 400;
   position: relative;
}

.card {
   align-self: center;
   width: 50%;
   height: 450px;
   margin: 0 auto;
   position: relative;
   &__name {
      font-size: 34px;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 34px;
      opacity: 0;
      visibility: hidden;
   }

   &__about {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      p {
         margin-bottom: 50px;
      }
      :last-child {
         margin: 0;
      }
   }

   &__link {
   }
   &__img-box {
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: 0;
      height: 340px;
      width: 340px;
      overflow: hidden;
   }
   &__img {
      display: block;
      height: 105%;
   }
}
.content-card {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   padding-left: 30%;
   background: rgba(255, 255, 255, 0.3);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(3.5px);
   -webkit-backdrop-filter: blur(3.5px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
}
.active-card {
   transition: all 0.5s linear 0s;
}
.card.active-card {
   align-self: center;
   width: 100%;
   height: 450px;
   position: relative;
}
.content-card.active-card {
   .card__name {
      opacity: 1;
      transition: visibility 0.2s ease 0.5s;
      visibility: visible;
   }
   .card__about {
      opacity: 1;
      transition: visibility 0.2s ease 0.5s;
      visibility: visible;
   }
}
.card__img-box.active-card {
   position: absolute;
   bottom: 0;
   right: 80%;
   height: 450px;
   width: 450px;
   overflow: hidden;
   transform: translateX(none);
}

// FOOTER=============================
@import "footer.scss";
// =================================
